*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary: #645cff;
    --primary-dark: #3c3799;
    --grey-light: #f1f5f9;
    --grey: #64748d;
    --grey-dark: #0f172a;
    --max-width: 1170px;
    --fluid-width: 90vw;
    --border-radius: 1rem;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--grey-light);
    color: var(--grey-dark);
}
.blogs {
    padding: 4rem 0;
}
.section-title{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 2rem;
}
.blogs-center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto;
}
.blogs-center2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    width: var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto;
}
.blog{
    background-color: white;
    padding: 4rem;
    margin-bottom: 5rem;
    border-radius: var(--border-radius);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out all;
}
.blog:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
img {
    display: block;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
.blog-content{
    padding-bottom: 1rem;
}
.blog-content span{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primary);
    display: block;
    margin: 0.5rem 0;
}
.blog-content h3{
    text-transform: capitalize;
    color: var(--primary-dark);
    margin: 0.5rem 0;
}
.blog-content p{
    color: var(--grey);
    margin-bottom: 0.5rem;
}
.blog-content a{
    text-transform: capitalize;
    color: var(--primary-dark);
    letter-spacing: 1px;
}